/* Hint: use relative measurements you'll find them useful! */
/* I may have removed a selector or two */

/*
 *
 * Important! Please write comments to indicate your changes if you make edits outside of your section
 *
 */

@import url('https://fonts.googleapis.com/css?family=Monoton');  /* Set this for Monton a Google Font ...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
  background-image: url("background.png");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
}
header {
}
section {
	/* color rgb(243,234,95) is used */
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    overflow:auto;
    margin-bottom: 1em;
    margin-top: 1em;
}
section > div {
    /* font is 'Comic Sans MS, text is automatically adjusted to lowercase do not mod the HTML */
    font-family: 'Comic Sans MS';
}

section > div:nth-of-type(even)  {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
	background-color: rgb(192,77,249);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    flex:1;  
}
section > div:nth-of-type(odd) {
	/* ANastNthChildSelectorToWrite means what it says it isn't an indetifier */
    background-color:  rgb(43,209,252);
    display: flex;
    align-items: center;
    justify-content: center;
     width: 80%;
    height: 100px;
    width: 80%;
}
section > div:nth-child(3):after {
	/* gave you the nth child after selector for free to inspire you */
	/* generated content in here ... a property can do that */
}
	
	/* some free rules for fun */
aside {
    background: rgb(255,63,63);
    color: white;
    border: 1rem solid black;
    border-top-left-radius: 1rem;
    /* rem units are your friend use them often */

    font-family: sans-serif;


    text-align: center;
}


/* Oh no! The file has been truncated I guess you have to fill it in */

/* Solution given should
   be below 250 lines, the solution we had was
   below 200 easily formatted */

a.logo {
    font-family: 'Monoton', cursive;
    text-decoration: none;
    color: black;
    font-size: 5rem;

    background: pink;
    border-bottom-left-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
}

/* Bryle's section */

/* end */

/* Harrison's section */

/* end */

/* Han's section */

/* end */